
block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="яхта, море, парусник, клуб")
		meta(name="description" content="Сайт яхт-клуба из Санкт-Петербурга")
	body
		block content
